{{#each this}}
 <li class="card">
            <img class="image" src="{{images.3.url}}" alt="" id="{{id}}">
            <p class="name">{{name}}</p>
            <p class="date">{{dates.start.localDate}}</p>
            <p class="place">{{dates.timezone}}</p>
            <button class="liked-button" data-id="{{id}}">
                 
            </button>
      </li>

{{/each}}