<li id="{{id}}">
            <img class="image" src="{{images.3.url}}" alt="" >
            <p class="name">{{name}}</p>
            <p class="date">{{dates.start.localDate}}</p>
            <p class="place">{{dates.timezone}}</p>
</li>